    <% provide(:sheet, "services") %>
    <!-- Main jumbotron -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1>Services</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="bar"></div>
    <div class="one" id="services">
     <div class="container">
      <!-- Row of columns -->
        <div class="row" id="webdesign">
          <div class="col-md-12">
              <img src="/assets/DesignIpad.jpg">
              <h2>Web Design and Development</h2>
              <p>We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039. We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.</p>

          </div>
        </div>
        <hr>
        <div class="row" id="dba">
          <div class="col-md-12">
             <img class="right" src="/assets/data_icon.jpg">
             <h2>Database Design and Development</h2>
              <p>We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039. We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.</p>

          </div>
        </div>
        <hr>
        <div class="row" id="cloud">
          <div class="col-md-12">
              <img src="/assets/cloud-service.jpg">
              <h2>Cloud Based Solutions</h2>
              <p>We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039. We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.</p>
          </div>
        </div>
        <hr>
        <div class="row" id="social">
          <div class="col-md-12">
              <img class="right" src="/assets/sm.jpg">
              <h2>Social Media Management</h2>
              <p>We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039. We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.</p>

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
              <img src="/assets/ellipsis.png">
              <h2>More</h2>
              <p>We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039. We want to hear from you! For general inquiries, or if you would like to get a project started, you can send us a message here. We can also be reached by phone at (416)-988-6039.</p>

          </div>
        </div>
      </div>
    </div>