<% provide(:sheet, "msgs") %>
<div style="height: 65px"></div>
<div class="text">
<p>
  <strong>Name:</strong>
  <%= @msg.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @msg.email %>
</p>
<p>
<strong>Comment:</strong>
  <%= @msg.comments %>
</p>
<p>
<strong>
Message Delivered Successfully
</strong>
</p>
</div>