<div class="contact">
  <div class="container">      
    <div class="row" id="aboutus">
      <div class="col-lg-6">
          <i class="fa fa-info fa-2x"></i>
          <h3>About Us</h3>
          <p>We know how important technology can be to a sucessful company today. An online presence is essentail and back-end technologies can help make your company more efficient. At Basic Solutions Inc. we strive to make these options viable for both small and large busnisses.</p>
          <p></p>
      </div>
      <div class="col-lg-6">
          <i class="fa fa-phone fa-2x"></i>
          <h3>Stay in Touch</h3>
          <p>Give us a call at (416)-988-6039</p>
          <p>Or send us an email at inquiries@basicsolutions.ca</p>
      </div>
    </div>
  </div>
</div>
<div class="bottom">             
  <div class="container">      
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <ul class="bottom-links">
              <li><a class="nav-items" href="/">About</a></li>
              <li><a class="nav-items" href="services">Services</a></li>
              <li><a class="nav-items" href="contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="margin-left: 55px; color: #50708f;">&copy; Basic Solutions Inc. 2014. All rights Reserved.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="bottom-social">
          <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
      </ul>
      </div>
    </div>
  </div>
</div>